.body{
    background-image: url('https://keralatourism.travel/images/destinations/headers/palakkad-kerala-tourism-entry-fee-timings-holidays-reviews-header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}