<div class="container">
    <div class="row">
    @for(item of districts;track item.id){
    <div class="col-lg-4 pt-2">
    <div class="card" style="width: 18rem; height: 25rem">
        <img src="{{ item.image }}" class="img1 card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" >{{ item.name}}</h5>
          <p class="card-text">
            {{ item.description| slice:0:100 }} ...
          </p>
          <a [routerLink]="['/districts',item.id]" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    }
    </div>
    </div>
